@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}
.hover\:underline-animation-a {
  position: relative;
  overflow: hidden;
}

.hover\:underline-animation-a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #d322c4; /* Culoare underline */
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.hover\:underline-animation-a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.hover\:underline-animation-b {
  position: relative;
  overflow: hidden;
}

.hover\:underline-animation-b::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #ffc404; /* Culoare underline */
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.hover\:underline-animation-b:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
